/* Style général de la page */
body {
  background-color: rgb(55, 224, 13);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 40px;
  color: #333;
}

/* Conteneur principal pour centrer le contenu */
body {
  max-width: 1200px;
  margin: auto;
}

/* Style du titre principal */
h1 {
  font-size: 40px;
  color: #804b50;
  text-align: center;
  margin-bottom: 20px;
}

/* Style des paragraphes */
.decoration {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}
div{
    color: rgb(1, 27, 27);
}